<div class="container">
    <h2>Product Details Page</h2>
  <div class="row">
    <div class="col1">
        <img src="{{finalproduct.url}}">
    </div>
    <div class="col2">
        <div class="title">{{finalproduct.name}}</div>
        <div>Visit the samsung store</div>
        <div>Deal of the Day:<span style="color:red">&#8377;{{finalproduct.price}}</span></div>
          <div>Save Extra with No EMI Cost</div>
          <!--<button (click)="addtocart(finalproduct.i,finalproduct.id)">Add To Cart</button>-->
    </div>
  </div>
</div>
