

  <div class="container">
    <h2>Carousel</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
  
        <div class="item active">
          <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" alt="Los Angeles" style="width:100%;">
        </div>
  
        <div class="item">
          <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" alt="Chicago" style="width:100%;">
        </div>
      
        <div class="item">
          <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" alt="New York" style="width:100%;">
        </div>
    
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  
  <div class="container grid">
    <h2>On-Sale Product</h2>
    <div class="row">
        <div class="col">
            <img src="assets/images/mobile2.webp" >
            <div>Samsung</div>
            <span>Best Offer</span>
          </div>
          <div class="col">
            <img src="assets/images/mobile1.webp" >
            <div>Samsung</div>
            <span>Best Offer</span>
          </div>
          <div class="col">
            <img src="assets/images/mobile3.jpeg" >
            <div>Samsung</div>
            <span>Best Offer</span>
          </div>
          <div class="col">
            <img src="assets/images/mobile1.webp" >
            <div>Samsung</div>
            <span>Best Offer</span>
          </div>
          <div class="col">
            <img src="assets/images/mobile2.webp" >
            <div>Samsung</div>
            <span>Best Offer</span>
          </div>
    </div>
  </div>
  <div class="container grid">
    <div class="row justify-content-center">
        <div class="col">
            <img src="assets/images/mobile2.webp" >
            <div>Samsung Galaxy M13 5G</div>
            <span>15,999</span>
          </div>
          <div class="col">
            <img src="assets/images/mobile1.webp" >
            <div>Samsung</div>
            <span>Best Offer</span>
          </div>
          <div class="col">
            <img src="assets/images/mobile3.jpeg" >
            <div>Samsung</div>
            <span>Best Offer</span>
          </div>
          <div class="col">
            <img src="assets/images/mobile1.webp" >
            <div>Samsung</div>
            <span>Best Offer</span>
          </div>
          <div class="col">
            <img src="assets/images/mobile2.webp" >
            <div>Samsung</div>
            <span>Best Offer</span>
          </div>
    </div>
  </div>
  <div class="container" style="margin-bottom:30px">
    <h2>Shop by brand</h2>
    <div class="row brand">
        <div class="col">
            <span (click)="click()">Apple</span>
        </div>
        <div class="col">
            <span>Iphone</span>
        </div>
        <div class="col">
            <span>Samsung</span>
        </div>
        <div class="col">
            <span>Redmi</span>
        </div>
    </div>
  </div>
  